.background{
    background-color:#c98069;
    padding-bottom:1.5cm ;
}

.inputForm{
    width:1000px;
    height: auto;
    margin-left: 4cm;
    margin-bottom: 0cm;
    border:25px ;
    border-radius: 20px;
    border: 2px solid #FFFEE6;
    outline: #391306;
    box-sizing: border-box;
    margin-right: 4cm;
   
    
}
 
.multiselect{
    width: "50%";
    justify-content: "center";
    display: "flex";
    color: red;
    background: red;
}
.add{
    background-color: rgb(64, 70, 69);
    border-radius: 50%;
    height: 50px;
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(5, 14, 15);
    transition:0.4s ease;
    
   
}
hr {
    border: none;
    border-top: 1px dotted rgb(41, 36, 31);
    color: #fff;
    background-color: #391306;;
    height: 3px;
    width: 100%;
  }
  hr.dotted {
    border: none;
    border-top: 1px dotted rgb(12, 12, 12);
    color: #fff;
    background-color: #391306;
    height: 3px;
    width: 100%;
  }
.space{
    padding-top: 40px;
}        
.add-item{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#391306;
    font-weight: 700;
   
}

.add:hover {
   
    transform: scale(1.1);
    background-color: rgb(235, 240, 239);
   
}
.buttons{
    margin-left: 15cm;
}
.text{
    color: #f7fff9;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: 800;
    
    
    text-align: flex;
    text-shadow: 1px 1px 2px #082b34;
    margin-bottom: 1cm;
    margin-left: 1cm;
}

.textsubtitle{
    color: #290e0e;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 700;
    margin-top: 1cm;
    text-align: flex;
   
    margin-bottom: 1cm;
    margin-left: 1cm;
}

.textsubtitle2{
    color: #ffffff;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 24px; font-weight: normal; 
     line-height: 32px; 
     margin: 0 0 18px;
    text-shadow: 1px 0 0 #fff; 
    margin-bottom: 1cm;
    margin-left: 1cm;
}

.inputBoxoveral{
    margin:0;
    padding:0;
    box-sizing:border-box;
   
}
.inputBoxForm{
    display:flex;
    flex-direction: column;
    gap:8px;
    display: flex;
    flex-direction: row;
}

.span{
    margin-left: 1cm;
}
.inputBox{
    position:relative;
    width:400px;
    margin-left:2cm;
    margin-right: 1cm;
    color:rgb(0, 0, 0);
    
}
.inputBox input{
    width:100%;
    padding:10px;
    border: 2px solid #391306;
    background:#FFFEE6;
    border-radius: 20px;
    outline:#391306;
    color:#eeaf9b;
    font-size:1em;
    margin-bottom: 1cm;
    height: 55px;
    font-weight: 700;
}

.inputBox select{
    width:100%;
    border: 1px solid#A96036;
    background: #FFFEE6;
    border-radius: 20px;
    outline: #A96036;
    color:#000000;
    font-size:1em;
    height: 75px;
    font-weight: 700;
}

.inputB{
    width:10px;
}
.inputBox span{
    position:absolute;
    left:0;
    padding:10px;
    font: bold;
    font-size:1em;
    color: #000000;
    pointer-events: none;
    text-transform: uppercase;
     font-family:Georgia, 'Times New Roman', Times, serif;
     transition:0.5s;
     padding-left: 25px;
     font-weight: 800;
    
}

.inputBox input:valid ~span,
.inputBox input:focus ~span
{
    color:#000000;
    transform:translateX(15px) translateY(-29px);
    font-size: 0.65em;
    padding: 0 10px;
    border-left: 1px solid #391306;
    border-right: 1px solid#391306;
    letter-spacing: 0.2em;
    
}

.dateTo{
    display: flex;
}
.multiselect {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#391306;
    width:900px;
    padding-left:75px;
    background: rgb(241, 241, 242);
    border-radius: 20px;
    outline: black;
    color:rgb(3, 4, 5);
    font-size:1em;
    margin-bottom: 1cm;
    height: 55px;
}
.date{
    font-family:Georgia, 'Times New Roman', Times, serif;
  
    font-size:1em;
    color: #000000;
    pointer-events: none;
    text-transform: uppercase;
    font-weight: 700;
     
   
}
.inputBox:nth-child(2) select:valid ~ span,
.inputBox:nth-child(2) select:focus ~ span
{
    background-color:#FFFEE6;
    color:#000000;
    border-radius: 2px;
}

.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span
{
    
    background-color:#FFFEE6;
    color:#000000;
    border-radius: 2px;
}
.inputBox input:valid,
.inputBox input:focus
{
    border: 2px solid rgba(0, 0, 0, 0.911);
    font-family: Georgia, 'Times New Roman', Times, serif;
}



input::placeholder{
    position:absolute;
    left:0;
    padding:10px;
    font-size:1em;
    color: #030303;
    pointer-events: none;
    text-transform: uppercase;
     font-family:Georgia, 'Times New Roman', Times, serif;
     font-weight: 700;
    
     
 }

 select::placeholder{
    position:absolute;
    left:0;
    padding:10px;
    font-size:1em;
    color: #010301;
    pointer-events: none;
    text-transform: uppercase;
     font-family:Georgia, 'Times New Roman', Times, serif;
  
 }

 .inputBox select:valid,
.inputBox select:focus
{
    border: 2px solid #d4c7c2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#FFFEE6;
    transform:translateX(15px) translateY(-29px);
}

  .select-wrapper {
    background-color: #e7f2f4;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #000000; 
    
  
  }

.inputBox2{
    position:relative;
    width:400px;
    margin-left:1.5cm;
    margin-right: 1cm;
    color:rgb(14, 15, 15);
    font-style: bold;
    margin-bottom: 27px;
    padding-right: 15px;
}



.price{
    color:rgb(0, 0, 0);
    font-weight: 700;
    font-size: 30px;
   margin-left: 4cm;
 
   }
.img-card{
   margin: auto;
   margin-top: 0.5cm;
   translate: 0.5s;
   border-radius: 60px;
   border: solid 4px transparent;
  
}


.img-card:hover {
   
    transform: scale(1.1);
    border: solid 4px rgb(255, 255, 255);
}

.cardbody{
    border: #e9a18b;
    border-radius: 60px;
    margin-left: 0.5cm;
    margin-top: 0.5cm;
}

.cardtitle{
    margin-left: 0.1cm;
    font-size: 25px;
    font-weight: 700;
   background-color: #c98069;
    border-radius: 6px;
    margin-right: 0.1cm;
}

.cardtext{
    margin-left: 0.2cm;
    font-size: 15px;
    font-weight: 500;
    background-color: #e9a18b;
    border-radius: 40px;
    margin-right: 0.2cm;
}
.cardlink{
    margin-left: 0.3cm;
    background-color: #f7bead;
    font-style:italic;
    border :solid 2px rgb(255, 255, 255);
   translate: 1s;
   display: flex;
    margin-right: 1cm;
}
.cardlink:hover{
    transform: scale(1.1);
    color: #b86da1;
    font-weight: 500;
    
}
.img-profile{
   
    border-radius: 50%;
    height: 30px;
    width:30px;
    border:1px solid #fffdfb;
    color:  #ffffff;
    margin-left: 1cm;
   
}

.profile-card{
     width: 22rem;
   border: 2px solid #ffffff;
    font-family:Georgia, 'Times New Roman', Times, serif;
   
   background-color: #f3ebe6;
   height: 440px;
   margin-bottom: 10px;
   margin-right: 10px;
   margin-top: 10px;
   height: auto;
}

.profile-photo{
    height: 100px;
    width: 100px;
    border:2px solid #fffdfb;
    border-radius: 50%;
    margin-left: 3.3cm;
    margin-top: 1cm;
}
.text-profile{
    margin-left: 1cm;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 200;
}

.text-profile1{
    text-align: center;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 200;
    margin-top: 0.4cm;
    margin-bottom: 0.2cm;
}

.line{
    background-color: white;
    width: 80%;
}
.font{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ebad99;
    width: 80%;
    color: black;
    font-weight: 600;
    margin-bottom: 0.3cm;
}

.cards-pack{
    width: 22rem;
    border: 2px solid #ffffff;
     font-family:'Tajawal', sans-serif;
     border-radius: 60px;
     background-color: #e9a18b;
    height: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
 }
 