.AppContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#c98069;
    box-shadow: 0 0 2px rgba(15, 15, 15, 0.28);
    position: relative;
    overflow: hidden;
   
    flex-direction: column;
    border-radius: 19px;
  }
  
  .BoxContainer{
  
    width: 15cm;
   
 }

 .text2{  color: #f7fff9;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: normal;
  outline: #f7fff9;
  box-sizing: 3cm;
  border-color: black;
  text-align: flex;
  text-shadow: 1px 1px 2px #082b34;
  margin-bottom: 1cm;
  margin-left: 1cm;
 }
  
 .text3{  color: #f7fff9;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: normal;
  outline: #f7fff9;
  box-sizing: 3cm;
  border-color: black;
  text-align: flex;
  text-shadow: 1px 1px 2px #082b34;
  margin-bottom: 1cm;
  margin-left: 1cm;
 }
  

 .size{
  position:relative;
  width:auto;
  margin-left:2cm;
  margin-right: 1cm;
  color:rgb(8, 120, 211);
  
}
 .size input{
  width:100%;
  padding:10px;
  border: 2px solid #3a1003;
  background: #FFFEE6;
  border-radius: 20px;
  outline: black;
  color:rgb(10, 4, 0);
  font-size:1em;
  margin-bottom: 1cm;
  height: 200px;
  font-weight: 700;
 }

 .size span{
  position:absolute;
  left:0;
  padding:10px;
  font-size:1em;
  color: #000000;
  pointer-events: none;
  text-transform: uppercase;
   font-family:Georgia, 'Times New Roman', Times, serif;
   transition:0.5s;
   padding-left: 25px;
   font-weight: 700;
}

.size input:valid ~span,
.size input:focus ~span
{
  color:#000000;
  transform:translateX(15px) translateY(-29px);
  font-size: 0.65em;
  padding: 0 10px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  letter-spacing: 0.2em;
  
}

.size input:valid,
.size input:focus
{
    border: 1px solid rgba(247, 239, 242, 0.911);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.size2{
  position:relative;
  width:auto;
  margin-left:2cm;
  margin-right: 1cm;
  color:rgb(8, 120, 211);
  
}
 .size2 input{
  width:100%;
  padding:10px;
  border: 2px solid #3a1003;
  background: #FFFEE6;
  border-radius: 20px;
  outline: black;
  color:rgb(10, 4, 0);
  font-size:1em;
  margin-bottom: 1cm;
  height: 75px;
  font-weight: 700;
 }

 .size2 span{
  position:absolute;
  left:0;
  padding:10px;
  font-size:1em;
  color: #000000;
  pointer-events: none;
  text-transform: uppercase;
   font-family:Georgia, 'Times New Roman', Times, serif;
   transition:0.5s;
   padding-left: 25px;
   font-weight: 700;
}

.size2 input:valid ~span,
.size2 input:focus ~span
{
  color:#000000;
  transform:translateX(15px) translateY(-29px);
  font-size: 0.65em;
  padding: 0 10px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  letter-spacing: 0.2em;
  
}

.size2 input:valid,
.size2 input:focus
{
    border: 1px solid rgba(247, 239, 242, 0.911);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

