.containerprgress{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 30vh;
    color: rgb(255, 255, 255);
    display: flex;
}

.content{
    align-items: center;
    width: 500px;
    
   
}

.progress{
    display: flex;
    justify-content: space-between;
 padding-top: 1cm;
 padding-left: 1cm;
}

.progressbar ::before{
   
    content: " ";
    position: absolute;
    background-color:rgb(17, 1, 11) ;
    top:50%;
    left:0;
    transform: translateY(-50%);
    border-radius: 5px;
    width:100%;
    z-index:-1;
    transition:0.4s ease;
    height: 8px;
}
.progressbar{
    position: absolute;
    background-color: aqua ;
    top:50%;
    left:0;
    transform: translateY(-50%);
    border-radius: 5px;
    width:50%;
    z-index:-1;
    transition:0.4s ease;
    height: 8px;
}

.circle{
    background-color: #99563f;
    border-radius: 50%;
    height: 60px;
    width:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:3px solid #fffdfb;
    transition:0.4s ease;
    color:  #ffffff;
    font-weight: 700;
    font-size: 20px;
}

.circle.active{
    border-color: #391306;
    background-color: #f7d6cc;
    color: rgb(14, 6, 3);
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15cm;
    
}

.btns{
    
    align-items: center;
  
 
    cursor: pointer;
   
   
}

.btns:active{
    transform: scale(0.98);
    
}
.btns:focus{
    outline: none;

}

.btns:disabled{
    background-color: rgb(203, 206, 202);
    cursor: not-allowed;
}
