.images{
    margin-top: 1cm;
    

}
.img-cneter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.image-inline{
    display:flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
   
}

